:root {
  --button-border-size: 8px;
}

.pushable {
  cursor: pointer;
  border: none;
  color: white;
  background: #3c8b49;
  border-radius: var(--button-border-size);
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background: #56c769;
  border-radius: var(--button-border-size);
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable:disabled {
  background: #404040;
}

.pushable:disabled .front {
  background: #606060;
}