:root {
  --button-border-size: 8px;
}

.pushable {
  cursor: pointer;
  border: none;
  color: white;
  background: rgb(48, 112, 59);
  border-radius: var(--button-border-size);
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background: #52bd63;
  border-radius: var(--button-border-size);
  transform: translateY(-4px);
  text-shadow:
    -1px -1px 0 #00ac33,
    1px -1px 0 #00ac33,
    -1px 1px 0 #00ac33,
    1px 1px 0 #00ac33;
}

.pushable:hover .front {
  transform: translateY(-5.5px);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 100ms;
}

.pushable:disabled {
  background: #404040;
}

.pushable:disabled .front {
  background: #606060;
}