:root {
  --scroll-btn-hover-time: 150ms;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--scroll-btn-size);
  height: var(--scroll-btn-size);
  background: transparent;
  transition: outline-color var(--scroll-btn-hover-time) ease-in-out;
}

.button:hover {
  cursor: pointer;
  outline-color: #a0a0a0;
}

.button:hover .arrow svg {
  fill: #a0a0a0;
}

.ring {
  border-radius: 9999px;
  outline: 2px solid #4f4f4f;
}

.arrow {
  position: relative;
  rotate: calc(var(--scroll-btn-rotation) - 90deg);
  top: 1px;
}

.arrow svg {
  fill: #4f4f4f;
  width: calc(var(--scroll-btn-size) - 16px);
  height: calc(var(--scroll-btn-size) - 16px);
  transition: fill var(--scroll-btn-hover-time) ease-in-out;
}
