.bio {
  display: flex;
  padding: 20px;
  min-height: 250px;
  max-height: 500px;
  background-color: var(--main-fg-color);
  border-radius: 6px;
  margin-bottom: 20px;
}

.bio p {
  overflow: hidden;
  padding: 10px;
}

.bio img {
  object-fit: cover;
  border-radius: 15%;
  margin: 10px;
  width: 250px;
  height: 250px;
}

@media (max-width: 980px) {
  .bio img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .bio {
    flex-direction: column;
  }

  .bio img {
    width: 150px;
    height: 150px;
  }
}