.title {
  padding: 10px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.cert {
  min-height: 80px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container > :last-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 660px) {

}
