.container {
  background-color: var(--main-fg-color);
  padding: 20px;
  border-radius: 6px;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.badges {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.comptia {
  width: 90px;
  height: 90px;
}

.azure {
  width: 84px;
  height: 84px;
}
