:root {
  --cert-logo-size: 100px;
}

.sectionTitle {
  padding: 10px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.panel {
  display: flex;
  min-height: var(--cert-logo-size);
  cursor: pointer;
}

.imageBorder {
  display: flex;
  align-items: center;
  width: var(--cert-logo-size);
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  background-color: var(--main-bg-color);
  padding: 2px;
}

.imageBorder img {
  width: var(--cert-logo-size);
  height: var(--cert-logo-size);
  padding: var(--logo-padding);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: calc(100% - var(--cert-logo-size));
  background-color: var(--main-bg-color);
  padding-left: 14px;
}

.name p {
  font-size: 16px;
}

.icon {
  margin-top: 6px;
  margin-right: 30px;
  margin-left: 20px;
}

.icon,
.icon svg {
  min-width: 30px;
  min-height: 30px;
}

.icon svg {
  fill: #4f4f4f;
}

.container > :last-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 660px) {
  .name p {
    font-size: 14px;
  }
}


@media screen and (max-width: 400px) {
  .name {
    padding-right: 30px;
  }

  .icon {
    display: none;
  }
}