.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min(1000px, 100%);
  background: var(--main-fg-color);
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #303030;
}

.title {
  padding: 10px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-bottom: 10px;
}

.form * {
  width: 100%;
}

.message {
  min-height: 200px;
}

.send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
}

.send > :first-child {
  padding-left: 6px;
}

.send:disabled .icon {
  stroke: #606060;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #56c769;
  padding-top: 2px;
}

/* Cover ugly border until hCaptcha decides to fix their styling: https://github.com/hCaptcha/react-hcaptcha/issues/225 */
.captcha {
  width: 300px;
  height: 75px;
  outline: 6px solid var(--main-fg-color);
  outline-offset: -2px;
  border-radius: 6px;
}

.result {
  margin-top: 20px;
}

@media (max-width: 850px) {
  .contact {
    align-items: center;
  }

  .title {
    font-size: 24px;
  }

  .form {
    align-items: center;
  }

  .message {
    height: 300px;
  }

  .captcha {
    width: auto;
  }
}