.experience {
  display: flex;
  flex-direction: column;
  background: var(--main-fg-color);
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #303030;
}

.experience h2 {
  padding: 10px;
  margin-bottom: 30px;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jobs > :last-child {
  margin-bottom: 10px;
}

.accordion img {
  background: rgb(16, 2, 53);
}

.jobTitle {
  line-height: 1.5rem;
}

.date,
.location {
  font-size: 14.5px;
  color: var(--grey);
}

.location {
  font-style: italic;
}

.spacer {
  transition: margin-top 200ms ease;
}

.spacerExpanded {
  margin-top: 16px;
}

.bullets {
  list-style-type: none;
}

.bullets li {
  font-size: 16px;
  padding-bottom: 10px;
  display: flex;
}

.bullet {
  position: relative;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
}

.bullet svg {
  width: 16px;
  height: 16px;
  fill: grey;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 4px 0;
}