.container {
  max-width: 600px;
  font-size: 38px;
  text-shadow: 2px 2px 2px var(--main-fg-color);
  padding: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 6px;
  align-items: center;
  text-align: center;
  transform: translateY(25%);
}

.bracket {
  width: .6em;
  display: inline;
  position: relative;
  top: 0.15em;
  fill: #91fc9f;
}

.name {
  font-size: 50px;
  font-weight: bold;
  color: #91fc9f;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.bio {
  padding: 18px 0;
  font-size: 18px;
  color: #acabab;
}

.icons {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.icon:hover {
  filter: drop-shadow(0 0 8px var(--neon-green));
}

.icon svg:hover {
  fill: #91fc9f;
}

.icon svg {
  fill: #c6c6c6;
}
