.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 38px;
  text-shadow: 2px 2px 2px var(--main-fg-color);
}

.name {
  display: flex;
  font-size: 60px;
  color: var(--neon-green2);
  right: 20px;
}

.bracket svg {
  position: relative;
  width: 0.9em;
  fill: var(--neon-green2);
}

.bracketLeft svg {
  left: 2px;
}

.bracketRight svg {
  right: 2px;
}

.title {
  font-size: 26px;
  padding-top: 10px;
}

.bio {
  padding: 20px 0;
  font-size: 18px;
  color: var(--grey);
}

.icons {
  display: flex;
  gap: 20px;
  padding: 14px 0;
  flex-wrap: wrap;
}

.icon {
  width: 26px;
  height: 26px;
  transition: filter 0.3s ease;
}

.icon svg {
  fill: #c6c6c6;
}

.icon:hover {
  filter: drop-shadow(0 0 2px var(--icon-color));
  -webkit-filter: drop-shadow(0 0 2px var(--icon-color));
}

.icon:hover svg {
  fill: var(--icon-color);
}

.linkedinIcon.icon {
  --icon-color: #40beff;
}

.thmIcon.icon {
  --icon-color: red;
}

.htbIcon.icon {
  --icon-color: var(--neon-green2);
}

.githubIcon.icon {
  --icon-color: white;
}

.soIcon.icon {
  --icon-color: #FF9900;
}

.scrollButtonContainer {
  visibility: hidden;
}

@media screen and (max-width: 980px) {
  .name {
    font-size: 50px;
  }

  .bracket svg {
    width: 0.7em;
  }

  .title {
    font-size: 24px;
  }

  .bio {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    width: unset;
  }

  .name {
    font-size: 36px;
    text-align: center;
    right: 0;
  }

  .bracket svg {
    width: initial;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }

  .bio {
    font-size: 14px;
    text-align: center;
  }

  .icons {
    justify-content: center;
  }

  .scrollButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    visibility: visible;
  }
}