:root {
  --card-gap: 20px;
  --card-line-height: 1.2rem;
  --card-shift-y: -4px;
  --card-border-radius: 8px;
  --card-text-margin: 6px;
  --card-transition: transform 200ms ease;
  --card-border: 2px solid #303030;
  --max-vertical-lines: 3;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - var(--card-gap));
  max-width: calc(33.33% - var(--card-gap));
  color: white;
  border-radius: var(--card-border-radius);
  border: var(--card-border);
  transition: var(--card-transition);
}

.card:hover {
  cursor: pointer;
  transform: translateY(var(--card-shift-y));
  -webkit-transform: translateY(var(--card-shift-y));
  -moz-transform: translateY(var(--card-shift-y));
  -ms-transform: translateY(var(--card-shift-y));
  -o-transform: translateY(var(--card-shift-y));
}

.card:hover .arrow svg {
  transform: translate(4px, -4px);
}

.card img {
  height: 14rem;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  border-bottom: var(--card-border);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  height: 13em;
  background: var(--shadow-gradient);
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

.text {
  padding: 10px;
}

.title {
  display: flex;
  font-size: 18px;
  line-height: var(--card-line-height);
  margin-bottom: var(--card-text-margin);
  text-wrap: nowrap;
  overflow: hidden;
}

.arrow svg {
  position: relative;
  width: 18px;
  height: 18px;
  stroke: white;
  left: 3px;
  transition: var(--card-transition);
}

.body {
  font-size: 14px;
  overflow: hidden;
  max-height: calc(var(--card-line-height) * var(--max-vertical-lines));
  line-height: var(--card-line-height);
}

.multilineTruncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--max-vertical-lines); /* Number of lines of text to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: small;
  color: #acabab;;
  margin-bottom: var(--card-text-margin);
}

.chips {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;
  overflow: hidden;
  margin: var(--card-text-margin);
  margin-top: 0;
  gap: 4px 0;
  max-height: 52px;
}

@media screen and (max-width: 1300px) {
  .card {
    flex: 0 0 calc(50% - var(--card-gap));
    max-width: calc(50% - var(--card-gap));
  }
}

@media screen and (max-width: 980px) {
  .card {
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
    height: 13rem;
    overflow: hidden;
  }

  .card img {
    width: 13rem;
    height: 100%;
    object-position: top left;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--card-border-radius);
  }

  .title {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    height: unset;
  }

  .card img {
    display: none;
  }

  .content {
    height: unset;
    gap: 10px;
  }

  .title {
    text-wrap: unset;
  }

  .body {
    font-size: 13px;
  }
}