.container {
  display: flex;
  height: 500px;
  background-color: var(--main-fg-color);
  outline: 2px solid black;
}

.container:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.container img {
  object-fit: cover;
}

.body {
  padding: 0 20px;
}

.title {
  font-size: 20px;
  line-height: 1.4rem;
  height: 50px;
  margin-top: 40px;
}

.container:hover .title {
  text-decoration: underline;
}

.description {
  font-size: 16px;
  line-height: 1.2rem;
  height: 80px;
  margin-top: 20px;
}

.tags {
  font-size: 0.6rem;
  margin-top: 20px;
}