:root {
  --card-gap: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--card-gap);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - var(--card-gap));
  max-width: calc(33.33% - var(--card-gap));
  height: 28em;
  background-color: var(--main-fg-color);
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

.card:hover .title {
  text-decoration: underline;
}

.card img {
  height: 14rem;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.title {
  line-height: 1.2rem;
  margin-bottom: 6px;
}

.body {
  font-size: 14px;
  overflow: hidden;            /* Hide the overflowing text */
  max-height: calc(1.2em * 4); /* Set a maximum height based on the number of lines */
  line-height: 1.2em; 
}

.date {
  font-size: small;
  color: grey;
  margin-bottom: 6px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;
  overflow: hidden;
  height: 25px;
}

@media (max-width: 1300px) {
  .card {
    flex: 0 0 calc(50% - var(--card-gap));
    max-width: calc(50% - var(--card-gap));
  }
}

@media (max-width: 850px) {
  .card {
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
    height: 14rem;
    overflow: hidden;
    outline: 3px solid var(--main-bg-color);
  }

  .card img {
    width: 14rem;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 6px;
  }

  .title {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .card {
    height: initial;
  }

  .card img {
    display: none;
  }

  .content {
    gap: 10px;
  }

  .body {
    font-size: 13px;
    line-height: 1.2rem;
  }
}