.container {
  display: flex;
  height: 500px;
  background-color: var(--main-fg-color);
  border-radius: 6px;
}

.container:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
}

.container img {
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.body {
  padding: 0 20px;
}

.title {
  font-size: 20px;
  line-height: 1.4rem;
  height: 50px;
  margin-top: 40px;
}

.container:hover .title {
  text-decoration: underline;
}

.description {
  font-size: 14px;
  line-height: 1.2rem;
  height: 60px;
  margin-top: 16px;
  overflow: hidden;
}

.tags {
  font-size: 0.6rem;
  margin-top: 20px;
}