.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
  width: min(1000px, calc(100% - 100px));
}

.sections > section,
.sections > div {
  width: 100%;
}
  
/* This is to ensure the glowing border of the bio section appears above the grid effect */
.bio {
  z-index: 2;
}

@media screen and (max-width: 660px) {
  .sections {
    width: min(1000px, calc(100% - 32px));
  }
}