.background {
  position: absolute;
  width: 100vw;
  height: calc(100vh - var(--navbar-thickness));
  background-color: var(--main-fg-color);
}

.curve {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 200px;
  top: 100%;
  background-color: var(--main-fg-color);
}
  
.curve::before {
  content: "";
  display: block;
  border-radius: 0 50%;
  width: 300%;
  height: 780%;
  background-color: var(--main-bg-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.fox {
  position: absolute;
  left: calc(50% - 600px / 2);
  width: 600px;
  height: 600px;
  fill: var(--main-bg-color);
  z-index: 1;
  opacity: 0.5;
  top: -100px;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.arrow:hover {
  border-color: #91fc9f;
  filter: drop-shadow(0 0 8px var(--neon-green));
  cursor: pointer;
}

.arrow:hover svg {
  fill: #91fc9f;
}

.arrow {
  display: flex;
  margin: auto;
  position: relative;
  top: 200px;
  z-index: 3;
  border: 2px solid white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.arrow svg {
  position: relative;
  fill: white;
  width: 20px;
  height: 20px;
  top: 1px;
}
