:root {
  --home-bg-height: 450px;
  --home-margin: 10%;
}

.background {
  position: absolute;
  width: 100%;
  height: var(--home-bg-height);
  background-color: var(--main-fg-color);
}

.curve {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 200px;
  top: 100%;
  background-color: var(--main-fg-color);
}
  
.curve::before {
  content: "";
  display: block;
  border-radius: 0 50%;
  width: 300%;
  height: 780%;
  background-color: var(--main-bg-color);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero {
  margin-left: var(--home-margin);
  margin-top: 60px;
  z-index: 2;
}

.fox {
  position: absolute;
  left: 320px;
  width: 620px;
  height: 620px;
  fill: var(--main-bg-color);
  z-index: 1;
  top: -50px;
  opacity: 0.6;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.bottom {
  display: flex;
  position: relative;
  margin-top: 150px;
}

.circuit {
  left: calc((var(--home-margin) - var(--circuit-icon-size) + 27px) / 2);
}

.featured {
  margin: 0 var(--home-margin);
  z-index: 3;
}

@media(max-width: 980px) {
  .fox {
    top: -20px;
    left: 250px;
    width: 550px;
    height: 550px;
  }
}

@media(max-width: 700px) {
  .fox {
    display: none;
  }

  .circuit {
    display: none !important;
  }
}

@media(max-width: 550px) {
  .hero {
    margin-top: 30px;
    margin-left: 20px;
  }

  .featured .title {
    margin-left: 20px;
  }
}
