:root {
  --home-bg-height: 500px;
}

.background {
  position: absolute;
  width: 100%;
  height: var(--home-bg-height);
  background: var(--main-fg-color);
}

.curve {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 200px;
  top: 100%;
  background: var(--main-fg-color);
}

.curve::before {
  content: "";
  display: block;
  border-radius: 0 50%;
  width: 300%;
  height: 780%;
  border: 1px solid #303030;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background: var(--main-bg-color);
  background-size: var(--grid-background-size);
  background-image: var(--grid-background-image);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero {
  margin-left: var(--home-margin);
  margin-top: 70px;
  z-index: 2;
}

.canvas {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bottom {
  position: relative;
  display: flex;
  margin-top: 160px
}

@media screen and (max-width: 980px) {
  .hero {
    margin-left: 8%;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    margin-left: 20px;
  }
}
