.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  position: relative;
  left: 80px;
  width: calc(100% - 80px);
  transition: all 250ms ease-in;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: var(--main-fg-color);
  border-bottom: 2px solid #303030;
}

.titleContainer {
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--main-fg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(70vw - 24px);
  position: relative;
  left: calc(var(--side-navbar-thickness) / 2);
}

.title {
  white-space: nowrap;
}

.content {
  display: flex;
  margin-bottom: 200px;
  position: relative;
  left: var(--side-navbar-thickness);
  width: calc(100% - var(--side-navbar-thickness));
}

.contentMargin {
  margin-top: 80px;
}

@media screen and (max-width: 850px) {
  .header {
    height: 125px;
  }

  .titleContainer {
    font-size: 24px;
  }
}

@media screen and (min-width: 640px) {
  .page.navOpen {
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
  }
}

@media screen and (max-width: 640px) {
  .page {
    left: 0;
    top: 70px;
    width: 100%;
  }
}

.lineLeft,
.lineRight {
  width: max(12%, 80px);
  max-width: 300px;
  margin-top: 10px;
  opacity: 0.3;
}

.lineLeft {
  margin-right: 20px;
}

.lineRight {
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  .contentMargin {
    margin-top: 10%;
  }

  // .circuit {
  //   display: none !important;
  // }
}

@media screen and (max-width: 400px) {
  .lineLeft,
  .lineRight {
    display: none;
  }
}