.container {
  display: flex;
  position: relative;
}

.projects {
  margin-left: var(--home-margin);
  margin-right: var(--home-margin);
}

.circuit {
  position: absolute;
}

.leftBorder {
  position: relative;
  width: var(--home-margin);
  left: 5%;
}

@media(max-width: 1300px) {
  .circuit {
    visibility: hidden;
  }
}