:root {
  --accordion-active-color: rgba(108, 250, 132, 0.8);
  --accordion-transition: 200ms ease;
  --image-size: 80px;
}

.accordion {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0;
  transition: margin 0.3s ease;
}

.accordion.open {
  margin-top: 20px; /* Space above when open */
  margin-bottom: 20px; /* Space below when open */
}

.panel {
  display: flex;
  width: 100%;
  height: var(--image-size);
}

.logoBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--image-size);
  height: var(--image-size);
  background: var(--main-bg-color);
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

.logo {
  position: relative;
  left: 2px;
  width: calc(var(--image-size) - 20px);
  height: calc(var(--image-size) - 20px);
  background: black;
  border-radius: 999px;
}

.logo img {
  width: 100%;
  border-radius: 999px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--main-bg-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header.rounded {
  border-radius: 8px;
}

.accordion.open .header {
  border-bottom-right-radius: 0;
}

.title {
  margin-left: 20px;
  color: white;
  font-size: 16px;
  transition: color var(--accordion-transition);
}

.accordion.open .title {
  color: var(--accordion-active-color);
}

.arrow {
  margin-right: 20px;
  transform: rotate(90deg);
  border-radius: 999px;
  padding: 6px;
  transition: transform var(--accordion-transition);
}

.arrow svg {
  width: 24px;
  height: 24px;
  fill: #4f4f4f;
  transition: fill var(--accordion-transition);
}

.accordion.open .arrow {
  transform: rotate(270deg);
}

.accordion.open .arrow svg {
  fill: var(--accordion-active-color);
}

.withLogo {
  position: relative;
  left: var(--image-size);
  width: calc(100% - var(--image-size));
}

.underline {
  position: relative;
  bottom: 1px;
  height: 1px;
  background: var(--accordion-active-color);
  transform: scaleX(0);
  transition: transform var(--accordion-transition);
  z-index: 2;
}

.accordion.open .underline {
  transform: scaleX(1);
}

/* uses grid trick to animate from height 0 to auto
 * See https://www.youtube.com/watch?v=B_n4YONte5A */
.drawer {
  background: var(--main-bg-color);
  display: grid;
  grid-template-rows: 0fr;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: grid-template-rows var(--accordion-transition);
}

.accordion.open .drawer {
  grid-template-rows: 1fr;
}

.drawer div {
  position: relative;
  top: 8px;
  line-height: 1.5rem;
  overflow: hidden;
}

.drawer div * {
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 28px;
}
