:root {
  --card-gap: 20px;
  --card-line-height: 1.2rem;
  --card-shift-y: -3px;
  --card-border-radius: 6px;
  --card-text-margin: 6px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  margin-bottom: 40px;
  padding: 0 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--card-gap);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.33% - var(--card-gap));
  max-width: calc(33.33% - var(--card-gap));
  height: 28em;
  background-color: var(--main-fg-color);
  border-radius: var(--card-border-radius);
  transition: transform 0.3s ease;
  outline: 3px solid var(--main-bg-color);
}

.card:hover {
  cursor: pointer;
  transform: translateY(var(--card-shift-y));
  -webkit-transform: translateY(var(--card-shift-y));
  -moz-transform: translateY(var(--card-shift-y));
  -ms-transform: translateY(var(--card-shift-y));
  -o-transform: translateY(var(--card-shift-y));
}

.card:hover .card_title {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.card img {
  height: 14rem;
  object-fit: cover;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
}

.text {
  padding: 10px;
}

.card_title {
  font-size: 18px;
  line-height: var(--card-line-height);
  margin-bottom: var(--card-text-margin);
}

.body {
  font-size: 14px;
  overflow: hidden;
  max-height: calc(var(--card-line-height) * 4);
  line-height: var(--card-line-height);
}

.date {
  font-size: small;
  color: #acabab;;
  margin-bottom: var(--card-text-margin);
}

.chips {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;
  overflow: hidden;
  height: 25px;
  margin: var(--card-text-margin);
}

@media (max-width: 1300px) {
  .card {
    flex: 0 0 calc(50% - var(--card-gap));
    max-width: calc(50% - var(--card-gap));
  }
}

@media (max-width: 850px) {
  .card {
    flex-direction: row;
    flex: 0 0 100%;
    max-width: 100%;
    height: 14rem;
    overflow: hidden;
  }

  .card img {
    width: 14rem;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--card-border-radius);
  }

  .card_title {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }

  .card {
    height: initial;
  }

  .card img {
    display: none;
  }

  .content {
    gap: 10px;
  }

  .body {
    font-size: 13px;
    line-height: var(--card-line-height);
  }
}