.chip {
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  min-width: 30px;
  max-width: 100px;
  height: 1rem;
  margin: 4px;
  padding: 0 8px;
  background-color: #56c769;
  outline: 2px solid #3c8b49;
  border-radius: 9999px;
  overflow: hidden;
}