.container {
  height: 400px;
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.circle {
  margin: 5px;
  width: 100px;
  height: 100px;
  background: radial-gradient(at 25% 25%, #2b86c5, #562b7c, #ff3cac);
  border: 2px solid black;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.circle[class*="clicked"]  {
  transform: scale(1.2);
}
