.logo {
  display: flex;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
}

.logo img {
  width: 100%;
  height: 100%;
}

.linkedin-bg {
  background-color: white;
  border-radius: var(--icon-size);
}

.github-bg {
  filter: invert(1);
  -webkit-filter: invert(1);
  background-color: white;
  border-radius: var(--icon-size);
}