*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

/* Highlighted text style */
::selection,
::-moz-selection {
  color: white;
  background-color: var(--btn-color);
}

:root {
  --main-fg-color: #191919;
  --main-fg-shadow-color: #191919;
  --main-bg-color: #252525;
  --neon-green: #6CFA84;
  --neon-green2: #91FC9F;
  --btn-color: #44D25C;
  --grey: #ACABAB;
  --stack-overflow: #FF9900;
  --linkedin: #40beff;
  --tryhackme: red;
}

/* Ensure the main content takes all available space, pushing the footer to the bottom */
main {
  flex: 1;
}

body {
  background-color: var(--main-bg-color);
  color: white;
}

button {
  background-color: var(--main-bg-color);
  color: white;
  border: none;
}

a {
  color: white;
  text-decoration: none;
}

.noselect {  
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.1),
    0 2px 2px hsl(0deg 0% 0% / 0.1),
    0 4px 4px hsl(0deg 0% 0% / 0.1),
    0 8px 8px hsl(0deg 0% 0% / 0.1),
    0 16px 16px hsl(0deg 0% 0% / 0.1);
}

/* Unused */
.dotted-bg {
  background-image: radial-gradient(var(--dotted-bg-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animated_border::before,
.animated_border::after {
  --angle: 0deg;
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: -1;
  top: calc(-1 * var(--pseudo-border-thickness));
  right: calc(-1 * var(--pseudo-border-thickness));
  bottom: calc(-1 * var(--pseudo-border-thickness));
  left: calc(-1 * var(--pseudo-border-thickness));
  border-radius: var(--bio-border-radius);
  background-image: conic-gradient(from var(--angle), transparent 30%, #56c769);
  animation: 3s spin linear infinite;
}

.animated_border::before {
  filter: blur(1.5rem);
  opacity: 0.4;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.portfolio_cards {
  display: flex;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
  height: 100%;
  z-index: 3;
  margin: 0 var(--home-margin);
}

.about_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 var(--home-margin);
}

.blog_page p {
  display: flex;
  justify-content: center;
}

.not_found_page p {
  font-size: 20px;
}