*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

/* Highlighted text style */
::selection,
::-moz-selection {
  color: white;
  background-color: var(--btn-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--main-fg-color);
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
  border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

/* TODO: Clean up */
:root {
  --main-fg-color: #191919;
  --main-bg-color: #252525;
  --neon-green: #6CFA84;
  --neon-green2: #91FC9F;
  --btn-color: #44D25C;
  --grey: #ACABAB;
  --stack-overflow-color: #FF9900;
  --linkedin-color: #40beff;
  --tryhackme-color: red;
  --box-shadow-color: hsl(0deg 0% 0% / 0.1);
  --glow-border-radius: 1px;
}

main {
  flex: 1; /* Ensure main content takes all available space, pushing footer to the bottom */
}

body {
  background-color: var(--main-bg-color);
  color: white;
}

a {
  text-decoration: none;
}

.disable_select {  
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.shadow_bottom {
  box-shadow:
    0 1px 1px var(--box-shadow-color),
    0 2px 2px var(--box-shadow-color),
    0 4px 4px var(--box-shadow-color),
    0 8px 8px var(--box-shadow-color),
    0 16px 16px var(--box-shadow-color);
}

.shadow_top {
  box-shadow:
    0 -1px 1px var(--box-shadow-color),
    0 -2px 2px var(--box-shadow-color),
    0 -4px 4px var(--box-shadow-color),
    0 -8px 8px var(--box-shadow-color),
    0 -16px 16px var(--box-shadow-color);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.glow_border::before,
.glow_border::after {
  --angle: 0deg;
  content: "";
  position: absolute;
  pointer-events: none;
  top: calc(-1 * var(--glow-border-radius));
  right: calc(-1 * var(--glow-border-radius));
  bottom: calc(-1 * var(--glow-border-radius));
  left: calc(-1 * var(--glow-border-radius));
  z-index: -1;
  border-radius: 8px;
  background-image:
    conic-gradient(
      from var(--angle),
      transparent, #56c769,
      transparent, #56c769,
      transparent
    );
  animation: 8s spin linear infinite;
  transition: 0.5s opacity ease;
}

.glow_border::before {
  filter: blur(1rem);
  opacity: 0.5;
}

.dotted_bg {
  background-image: radial-gradient(var(--dotted-bg-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

.projects {
  display: flex;
  margin-left: var(--home-margin);
  margin-right: var(--home-margin);
}

.about_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 var(--home-margin);
}

.blog_page p {
  display: flex;
  justify-content: center;
}