/* TODO: add default styling for h1, h2, h3 so you can use them for title styling across the website */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

/* Highlighted text style */
::selection,
::-moz-selection {
  color: white;
  background-color: var(--btn-color);
}

:root {
  --main-fg-color: #191919;
  --main-fg-shadow-color: #191919;
  --main-bg-color: #252525;
  --neon-green: #6CFA84;
  --neon-green2: #91FC9F;
  --btn-color: #44D25C;
  --grey: #ACABAB;
  --stack-overflow: #FF9900;
  --linkedin: #40beff;
  --tryhackme: red;
}

/* Ensure the main content takes all available space, pushing the footer to the bottom */
main {
  flex: 1;
}

body {
  background-color: var(--main-bg-color);
  color: white;
}

button {
  background-color: var(--main-bg-color);
  color: white;
  border: none;
}

a {
  color: white;
  text-decoration: none;
}

.noselect {  
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.dotted-bg {
  background-image: radial-gradient(var(--dotted-bg-color) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: var(--navbar-thickness);
}

.portfolio {
  display: flex;
  position: relative;
  margin-top: 150px;
  margin-bottom: 50px;
  height: 100%;
  z-index: 3;
  margin: 0 var(--home-margin);
}


.notFound {
  font-size: 20px;
}
