@import url('https://fonts.googleapis.com/css?family=Aldrich:wght@100..900&display=swap');

:root {
  --default-font: "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
  --home-margin: 10%;

  --main-fg-color: #191919;
  --main-bg-color: #282828;
  --neon-green: #6CFA84;
  --neon-green2: #91FC9F;
  --btn-color: #44D25C;
  --grey: #ACABAB;
  color-scheme: dark;
  
  --box-shadow-color: hsl(0deg 0% 0% / 0.1);
  --glow-border-width: 1px;
  --shadow-gradient: linear-gradient(to top, var(--main-fg-color), #232323);

  --grid-background-size: 16px 16px;
  --grid-background-image: 
    linear-gradient(to right, #252525 1px, transparent 1px),
    linear-gradient(to bottom, #252525 1px, transparent 1px);
}

h1,
h3,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty, wrap;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--default-font);
}

/* Highlighted text style */
html::selection,
html::-moz-selection {
  color: white;
  background-color: green;
}

html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background: var(--main-fg-color);
}

html::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px;
  border: 4px solid var(--main-fg-color);
}

html::-webkit-scrollbar-thumb:hover {
  background: #636262;
} 

main {
  flex: 1; /* Ensure main content takes all available space, pushing footer to the bottom */
}

body {
  background-color: var(--main-bg-color);
  color: white;
}

h1, h2, h3, h4 {
  font-family: "Aldrich", var(--default-font);
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
}

.noSelect {  
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}

.shadowBottom {
  box-shadow:
    0 1px 1px var(--box-shadow-color),
    0 2px 2px var(--box-shadow-color),
    0 4px 4px var(--box-shadow-color),
    0 8px 8px var(--box-shadow-color),
    0 16px 16px var(--box-shadow-color);
}

.shadowBottomLight {
  box-shadow:
    0 1px 1px var(--box-shadow-color),
    0 2px 2px var(--box-shadow-color),
    0 6px 6px var(--box-shadow-color);
}

.shadowTop {
  box-shadow:
    0 -1px 1px var(--box-shadow-color),
    0 -2px 2px var(--box-shadow-color),
    0 -4px 4px var(--box-shadow-color),
    0 -8px 8px var(--box-shadow-color),
    0 -16px 16px var(--box-shadow-color);
}

.shadowTopLight {
  box-shadow:
    0 -1px 1px var(--box-shadow-color),
    0 -2px 2px var(--box-shadow-color),
    0 -6px 6px var(--box-shadow-color);
}

.glowBorder::before,
.glowBorder::after {
  --angle: 0deg;
  content: "";
  position: absolute;
  pointer-events: none;
  top: calc(-1 * var(--glow-border-width));
  right: calc(-1 * var(--glow-border-width));
  bottom: calc(-1 * var(--glow-border-width));
  left: calc(-1 * var(--glow-border-width));
  z-index: -1;
  border-radius: 8px;
  background-image:
    conic-gradient(
      from var(--angle),
      transparent, rgba(86, 199, 105, 0.6)
    );
  animation: 8s spin linear infinite;
  transition: 0.5s opacity ease;
}

.glowBorder::before {
  filter: blur(1rem);
  opacity: 0.5;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.hoverUnderline,
.hoverUnderlineTrigger .hoverUnderlineReceiver {
  position: relative;
  display: inline-block;
}
  
.hoverUnderline::before,
.hoverUnderlineTrigger .hoverUnderlineReceiver::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: width 200ms ease;
  background-color: white; /* Default underline color */
}

.hoverUnderline:hover::before,
.hoverUnderlineTrigger:hover .hoverUnderlineReceiver::before {
  width: 100%;
}

.gridBackground {
  background-size: var(--grid-background-size);
  background-image: var(--grid-background-image);
}

.dottedBackground {
  background-size: 20px 20px;
  background-position: -19px -19px;
  background-image:
    radial-gradient(
      var(--dotted-bg-color)
      1px, transparent 0
    );
}

.icon {
  display: flex;
  align-items: center;
  fill: white;
  background-color: none;
  min-width: 20px;
  min-height: 20px;
}

.sectionBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--main-fg-color);
  border-radius: 8px;
  padding: 30px;
  border: 1px solid #303030;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 80px;
  width: min(1000px, calc(100% - 100px));
}

.sections > section,
.sections > div {
  width: 100%;
}
  
/* This is to ensure the glowing border of the bio section appears above the grid effect */
.bio {
  z-index: 2;
}

.cardContainer {
  margin-left: var(--home-margin);
  margin-right: var(--home-margin);
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 4px 0;
}

@media screen and (max-width: 660px) {
  .sections {
    width: min(1000px, calc(100% - 32px));
  }
}

@media screen and (max-width: 600px) {
  .cardContainer {
    margin-left: 16px;
    margin-right: 16px;
  }
}