:root {
  --hover-line-thickness: 0.8px;
}

nav li div {
  width: 100%;
  height: calc(100% - var(--hover-line-thickness));
}

/* Navlink has colored text when hovered over */
nav a:hover {
  color: var(--neon-green);
}

/* Navlink has colored text when selected */
nav a[class*="active"] {
  color: var(--neon-green);
}

nav a[class*="active"] ~ .underline2 {
  width: 0;
}

/* Underline starts collapsed by default */
.underline {
  width: 0;
  height: var(--hover-line-thickness);
  background-color: var(--neon-green);
  transition: width 120ms ease-out;
}

/* Start expanding underline on mouse down
   Broken due to bug in Chromium browsers, see https://issues.chromium.org/issues/361847240 */
/* nav div[class*="mouseDown"] div.underline {
  width: 100%;
  transition-duration: 3s;
} */

/* Underline remains expanded when navlink is selected */
nav a[class*="active"] ~ .underline {
  width: 100%;
}

