:root {
  --hover-line-thickness: 0.8px;
}

nav li div {
  height: calc(100% - var(--hover-line-thickness));
}

/* Navlink has colored text when hovered over */
nav a:hover {
  color: var(--neon-green);
}

/* Navlink has colored text when selected */
nav a[class*="active"] {
  color: var(--neon-green);
}

/* Underline starts collapsed by default */
.hover-line {
  width: 0;
  height: var(--hover-line-thickness);
  background-color: var(--neon-green);
  transition: width 120ms ease-out;
}

/* Start expanding underline on mouse down */
/* nav div[class*="mouseDown"] div.hover-line {
  width: 100%;
  transition-duration: 3s;
} */

/* Underline remains expanded when navlink is selected */
nav a[class*="active"] + div.hover-line {
  width: 100%;
}
