:root {
  --ham-bar-width: 24px;
  --ham-bar-height: 2px;
  --ham-gap: 6px;
  --ham-margin: calc((var(--navbar-thickness) - var(--ham-bar-height) * 3 - var(--ham-gap) * 2) / 2);
  --animation-timing: 200ms ease-in-out;
}

.hamburger {
  position: absolute;
  gap: var(--ham-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--ham-bar-width);
  height: var(--ham-bar-width);
  cursor: pointer;
}

.hamburger input {
  display: none;
  appearance: none;
  pointer-events: none;
  outline: none;
}

.bar1,
.bar2,
.bar3 {
  width: var(--ham-bar-width);
  height: var(--ham-bar-height);
  background-color: white;
  border-radius: 9999px;
}

.bar1,
.bar3 {
  transform-origin: center center;
  transition: transform var(--animation-timing);
}

.bar2 {
  transition: width var(--animation-timing), opacity var(--animation-timing);
}

.hamburger input:checked ~ .bar1 {
  transform: translateY(8px) rotate(45deg);
}

.hamburger input:checked ~ .bar2 {
  width: 0;
  opacity: 0;
}

.hamburger input:checked ~ .bar3 {
  transform: translateY(-8px) rotate(-45deg);
}
