:root {
  /* General navbar styles */
  --navbar-thickness: 70px;
  --navbar-thickness-tablet: 46px;
  --navbar-thickness-phone: 40px;
  --navbar-border-thickness: 3px;
  --navbar-gap-mobile: 20px;
  --navbar-font-weight: 600;
  --navbar-transition-time: 350ms;
  --navlink-offset-y-mobile: 20px;
  --navlink-count: 7;
  --navlink-gap: 8%;

  /* Calculate drawer height based on nav properties
   * CSS animations require a hard value */
  --navbar-height-tablet: calc(
    var(--navbar-thickness-tablet) * var(--navlink-count) +
    var(--navbar-gap-mobile)       * var(--navlink-count) +
    var(--navbar-border-thickness)                        +
    var(--navlink-offset-y-mobile)                        
  );

  /* Calculate drawer height based on nav properties
   * CSS animations require hard values */
  --navbar-height-phone: calc(
    var(--navbar-thickness-phone) * var(--navlink-count) +
    var(--navbar-gap-mobile)      * var(--navlink-count) +
    var(--navbar-border-thickness)                       +
    var(--navlink-offset-y-mobile)
  );
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-thickness);
  font-size: 14px;
  font-weight: var(--navbar-font-weight);
  background: var(--shadow-gradient);
  border-bottom: var(--navbar-border-thickness) solid var(--main-bg-color);
  z-index: 99999;
}

nav ul {
  display: flex;
  align-items: center;
  margin-left: var(--home-margin);
  gap: var(--navlink-gap);
  height: 100%;
  list-style: none;
  list-style-type: none;
}

nav li {
  height: 100%;
}

nav li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 0.5em;
}

.hamburger {
  display: none;
}

.resume {
  position: absolute;
  display: flex;
  align-items: center;
  top: calc(50% - 20px);
  left: calc(100% - 130px);
  height: 40px;
  font-size: 14px;
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 6px;
  padding-left: 10px;
  transition: all 200ms ease;
  z-index: 9999;
}

.resume:hover {
  cursor: pointer;
  color: var(--neon-green);
  border-color: var(--neon-green);
}

.arrow {
  display: inline;
}

.arrow svg {
  position: relative;
  width: 18px;
  height: 18px;
  stroke: var(--grey);
  transition: all 200ms ease;
}

.resume:hover .arrow svg {
  stroke: var(--neon-green);
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  top: var(--navbar-thickness);
  z-index: -1;
  transition:
    opacity var(--navbar-transition-time) ease,
    visibility var(--navbar-transition-time) ease;
}

@media screen and (min-width: 2800px) {
  :root {
    --navlink-gap: 200px;
  }
}

/* Tablet styling */
@media screen and (max-width: 1400px) {
  .hamburger {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: 0;
    padding: 0 20px;
    gap: var(--navbar-gap-mobile);
    transform: translateY(var(--navbar-thickness));
    background-color: var(--main-fg-color);
    transition: height var(--navbar-transition-time) ease-in-out;
    margin-left: 0;
  }

  nav li {
    width: 100%;
    overflow: hidden;
    height: var(--navbar-thickness-tablet);
    transform: translateY(var(--navlink-offset-y-mobile));
    background-color: var(--main-bg-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  nav li a {
    display: none;
    overflow: hidden;
    justify-content: center;
    padding: 1em;
  }

  /* Targets the hover line of the navlink */
  li div div {
    display: none;
  }

  .resume {
    left: calc(100% - 100px);
  }

  .hamburger[class*="open"] ~ ul {
    visibility: visible;
    height: var(--navbar-height-tablet);
    border-bottom: var(--navbar-border-thickness) solid var(--main-bg-color);
  }

  .hamburger[class*="open"] ~ ul li a {
    display: flex;
  }

  .hamburger[class*="open"] ~ ul li button {
    display: block;
  }

  /* Targets the hover line of the navlink */
  .hamburger[class*="open"] ~ ul li div div {
    display: block;
  }

  .hamburger[class*="open"] ~ .shadow {
    visibility: visible;
    opacity: 0.5;
  }
}

/* Phone styling */
@media screen and (max-width: 550px) {
  nav li {
    height: var(--navbar-thickness-phone);
  }

  nav li a {
    justify-content: left;
  }

  .hamburger[class*="open"] ~ ul {
    height: var(--navbar-height-phone);
  }
}
