:root {
  --navbar-thickness: 60px;
  --navbar-thickness-tablet: 50px;
  --navbar-thickness-phone: 42px;
  --navbar-gap-mobile: 20px;
  
  --navlink-offset-y-mobile: 20px;
  --navlink-count: 5;

  --navbar-height-tablet: calc(
    var(--navbar-gap-mobile) * var(--navlink-count) +
    var(--navbar-thickness-tablet) * var(--navlink-count) +
    var(--navlink-offset-y-mobile)
  );

  --navbar-height-phone: calc(
    var(--navbar-gap-mobile) * var(--navlink-count) +
    var(--navbar-thickness-phone) * var(--navlink-count) +
    var(--navlink-offset-y-mobile)
  );
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-thickness);
  font-weight: bold;
  font-size: 14px;
  background-color: var(--main-fg-color);
  border-bottom: 4px solid var(--main-bg-color);
  z-index: 10000;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  list-style-type: none;
}

nav li {
  height: 100%;
}

nav li a {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
  padding: 0.5em;
  text-decoration: none;
}

.hamburger {
  display: none;
}

/* Tablet styling */
@media(max-width:980px) {
  .hamburger {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: 0;
    padding: 0 20px;
    gap: var(--navbar-gap-mobile);
    transform: translateY(var(--navbar-thickness));
    background-color: var(--main-fg-color);
    transition: height 300ms ease-in-out;
  }

  nav li {
    width: 100%;
    overflow: hidden;
    height: var(--navbar-thickness-tablet);
    transform: translateY(var(--navlink-offset-y-mobile));
    background-color: var(--main-bg-color);
  }

  nav li a {
    display: none;
    overflow: hidden;
    justify-content: center;
    padding: 1em;
  }

  /* Targets the hover line of the navlink */
  li div div {
    display: none;
  }

  .hamburger[class*="open"] ~ ul {
    height: var(--navbar-height-tablet);
  }

  .hamburger[class*="open"] ~ ul li a {
    display: flex;
  }

  /* Targets the hover line of the navlink */
  .hamburger[class*="open"] ~ ul li div div {
    display: block;
  }
}

/* Phone styling */
@media(max-width:540px) {
  nav li {
    height: var(--navbar-thickness-phone);
  }

  nav li a {
    justify-content: left;
  }

  .hamburger[class*="open"] ~ ul {
    height: var(--navbar-height-phone);
  }
}
